.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
*.iml
*.ipr
*.iws
.idea/
.DS_Store
local.properties
GeneratedPluginRegistrant.java
*.flx
*.aot
*.snapshot
*.dill
.android/
.ios/
.web/
.windows/
.linux/
.macos/
